/* layout.css */

body {
	padding: 0;
	margin: 0;
	}

.pageFrame, #nodeFrame {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  }

#header
{
	padding: 0px;
	margin: 0px 0px 0px 0px;
	height: 100px;
}

#header img { 
        margin: 0 10px 0 30px;
        }

#main-nav {
	position: absolute;
	top: 10px;
	right: 0px;
	margin: 0;
	padding: 0px;
	height: 25px;
	}

#search { 
	position: absolute;
	top: 50px;
	right: 10px;
	margin: 0;
	padding: 0px;
	height: 25px;
	}

#sidebar-left {
	position: absolute;
	top: 100px;
	right: auto;
	left: 5px;
	margin: 0;
	padding: 0;
	width: 190px;
	}

#sidebar-right {
	position: absolute;
	top: 100px;
	right: 0;
	left: auto;
	margin: 0;
	padding: 0;
	width: 190px;
	}

.main-content
{
	position: relative;
	margin: 0px;
	padding: 0px 0 10px 0;
}

#content-left {
	margin-left: 200px;
	}

#content-right {
	margin-right: 200px;
	}

#content-both{
	margin: 10px 200px;
	}

#footer
{
	margin: 10px 10px 0 10px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 10px;
}

/* style.css */

a,
a:link,
a:visited {
 color: #003366; text-decoration: underline;
}

a:active,
a:hover  {
 color: #999999;  
}

h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

#header {
  font-family:palatino,  georgia, verdana, arial, sans-serif;
  color:#333;
  font-size:x-large;
  font-weight:normal;  
  padding:15px;
  border-top:4px double #666;
}

#header a,
  #banner a:link,
  #banner a:visited,
  #banner a:active,
  #banner a:hover {
  font-family: palatino,  georgia, verdana, arial, sans-serif;
  font-size: xx-large;
  color: #333;
  text-decoration: none;
}

.description {
  font-family:palatino,  georgia, times new roman, serif;
  color:#333;
  font-size:small;
  text-transform:none;  
}
  
.main-content {
  position:absolute;
  background:#FFF;
  margin-right:20px;
  margin-left:225px;
  margin-bottom:20px;
  border:1px solid #FFF;  
}

.node,
.comment
{
  padding:15px;
  background:#FFF; 
}

.node .content,
.comment .content {
  font-family:palatino, georgia, verdana, arial, sans-serif;
  color:#333;
  font-size:small;
  font-weight:normal;
  background:#FFF;
  line-height:200%;
}

.content a,
.content a:link,
.content a:visited,
.content a:active,
.content a:hover {
  font-weight: normal;
  text-decoration: underline;
}

.node h2,
.comment .title,
.box h2,
.node h2 a  {
  font-family: palatino, georgia, times new roman, serif;
  font-size: medium;
  color: #666;
  text-decoration: none;
}  

.node h2.date  { 
  font-family:palatino, georgia, times new roman, serif; 
  font-size: large; 
  color: #333; 
  border-bottom:1px solid #999;
  margin-bottom:10px;
  font-weight:bold;
}  

.node .info,
.comment .author,
.comment .links 
{ 
  font-family:verdana, arial, sans-serif; 
  font-size: x-small; 
  color: #000000; 
  margin-bottom:25px;
}

.calendar {
  font-family:verdana, arial, sans-serif;
  color:#666;
  font-size:x-small;
  font-weight:normal;
  background:#FFF;
  line-height:140%;
  padding:2px;
  text-align:left;
}

.calendar table,
.calendar td,
.calendar tr,
.calendar th
{
  border: none;
}

.calendar caption {  
  font-family:palatino, georgia, times new roman, serif;
  color:#333;
}  
  
.sidebar {
  font-family:verdana, arial, sans-serif;
  color:#333;
  font-size:x-small;
  font-weight:normal;
  background:#FFF;
  line-height:140%;
  padding:2px;  
}  
  
.sidebar h2 {
  font-family:palatino, georgia, times new roman, serif;
  color:#666600;
  font-size:small;
  font-weight:normal;
  padding:2px;
  margin-top:30px;
  letter-spacing: .3em;
  background:#FFF;
  text-transform:uppercase;  
}  
  
input, textarea {
  background-color: #eeeeee;
  color: inherit;
  border: 1px solid #999;
  font-family:palatino, georgia, verdana, arial, sans-serif;
  color:#333;
  font-size:small;
  font-weight:normal;
  background:#FFF;
  line-height:200%;
}

select {
  background-color: #eeeeee;
  color: inherit;
   margin: 0 5px;
  font-family:palatino, georgia, verdana, arial, sans-serif;
  color:#333;
  font-size:small;
  font-weight:normal;
  background:#FFF;
  line-height:200%;
}

input:focus, textarea:focus {
  background: #fff none;
  border: 1px solid #036;
}

/* modules.css */

/*** TRACKER ***/
#tracker table {
	border-collapse: collapse;
	}

#tracker td {
	vertical-align: top;
	padding: 1em;
	}

#tracker td ul {
	margin-top: 0;
	margin-bottom: 0;
	}

#tracker td ul a {
	font-weight: normal;
	}

#tracker th {
	text-align: left;
	padding: 0.25em 1em 0.25em 0em;
	}

#tracker table { width: 99%; }
#tracker th { text-align: left; border-bottom: 1px solid #ddd; }
#tracker tr.light, #tracker tr.dark { background-color: transparent; }
#tracker td { vertical-align: top; padding: 1em 1em 1em 0; border-bottom: 1px solid #ddd; }


/*** CALENDER ***/
.calendar .row-week td a {
	display: block;
	}

.calendar a { text-decoration: none; }
.calendar td { padding: 0; border-color: #888; }
.calendar td div { padding: 0.4em 0; }
.calendar .row-week td a { padding: 0.4em 0; }
.calendar .day-today { background-color: #69c; }
.calendar .day-normal { background-color: #ddd; }
.calendar .day-future { background-color: #eee; }
.calendar .day-today { background-color: #7ad; }
.calendar .day-today a { color: #fff; }
.calendar .day-selected { background-color: #7ad; color: #fff; }
.calendar .header-month { background-color: #eee; }
.calendar .header-week { }
.calendar .day-blank { background: none; }
.calendar .row-week td a:hover { background-color: #7ad; color: #000; }

/*** POLL ***/
#content .poll {
	margin: 0.5em;
	padding: 0.5em;
	border: #ccc solid 1px;
	}

#sidebar .poll { }

.poll-title {
	font-weight: bold;
	padding-bottom: 0.3em;
	margin-bottom: 0.4em;
	border-bottom: #ccc solid 1px;
	}

.poll .text {
	margin-bottom: 0.3em;
	font-size: 0.8em;
	font-weight: bold;
	}

.poll .percent {
	padding-bottom: 0.3em;
	margin-bottom: 0.4em;
	border-bottom: #ccc dashed 1px;
	font-size: 0.8em;
	}

.poll .total { font-size: 0.8em; }
.poll .bar { }

.poll .bar .foreground {
	height: 5px;
	background-color: #aaa;
	border: #ccc solid 1px;
	}

.poll .bar .background { }
.poll .vote-form { font-size: 0.8em; }

/*** BOOK STYLE ***/
.book .title {
	font-weight: bold;
	font-size: 1em;
	margin-bottom:1em;
	}

/*** FORUM STYLE ***/
div#forum table {
	width: 100%;
	margin-bottom: 1em;
	}

#forum td {
	padding: 0.5em 0.5em 0.5em 0.5em;
	line-height: 1.2em;
	}

#forum td.statistics, #forum td.settings, #forum td.pager {
	height: 1.5em;
	border: 1px solid #bbb;
	}

#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
	white-space: nowrap;
	}

#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
	text-align: center;
	}

div#forum table .topics,
div#forum table .posts,
div#forum table .last-reply {
	font-size: 0.8em;
	width: 5%;
	}

div#forum table .name,
div#forum table .description,
div#forum table .navigation {
	margin: 0;
	}

div#forum table th {
	white-space: nowrap;
	}

div#forum table .name {
	font-size: 1.2em; margin: 0.5em;
	font-weight: bold;
	margin: 0;
	}

#forum .description, #forum .navigation {
	font-size: 0.9em;
	margin: 0.5em;
	}

div#forum table .description {
	margin: 0;
	}

div#forum table .navigation {
	font-weight: bold;
	}

div#forum table .topic {
	width: 80%;
	}

div#forum table .icon {
	width: 20px;
	text-align: center;
	}

div#forum a {
	font-weight: bold;
	}

div#forum table .created,
div#forum table .replies {
	font-size: 0.8em;
	width: 5%;
	}
